<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Test Suite">
    <test verbose="5" preserve-order="true" name="Submit Order Test">
        <classes>
            <class name="NOVATechnologyTests.SubmitOrderTest">
                <methods>
                    <include name="submitOrder"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="5" preserve-order="true" name="Error Validations Test">
        <classes>
            <class name="NOVATechnologyTests.ErrorValidationsTest">
                <methods>
                    <include name="loginErrorValidation"/>
                    <include name="productErrorValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>